.brand {
    font-family: Lato, sans-serif;
    font-weight: bold;
    line-height: 1;
}

.nav {
    font-size: 1em;
    margin-top: 0.4em;
}

.menu-item .icon {
    display: none;
}

@media (max-width: $maxWidth) {
    .nav {
        margin: 2em 0;
    }
    .menu-item .icon {
        display: inline-block;
    }
    .menu-item-name {
        font-size: 80%;
    }
}

.nav-toggle {
    transform: translateY(0.4em);
}
